$black: #000000;
$white: #FFFFFF;
$gray:  #BBBBBB;
$gray-dark:  #888888;
$gray-darker:  #444444;
$gray-light:  #DBDBDB;
$gold:  #FFB611;

$font-bold: 'Arial Black';
$font: 'Arial';

$padding: 48px;
$padding-half: 24px;
$padding-quarter: 12px;
