<div class="home-categories">
  <div class="content">
    <div class="row">
      {% for categories in data %}
        <div class="col-4 home-categories--category-column">
          <div class="home-categories--category-wrapper">
            <h3 class="home-categories--category gold">{{ categories.category }}</h3>
            {% for item, url in categories.items %}
              <p><a href="{{ url }}" class="home-categories--link gold">{{ item }}</a></p>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
