<div class="home-types">
  <div class="content">
    <div class="row">
      {% for item in data %}
        {% if item.featured %}
          <div class="col-5">
            <img src="{{ item.icon }}" />
            <p>{{ item.term }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row inactive">
      {% for item in data %}
        {% if not item.featured %}
          <div class="col-5">
            <img src="{{ item.icon }}" />
            <p>{{ item.term }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
