<div class="home-hero">
  <div class="content">
    <div class="row">
      <div class="col-5 push-1 home-hero--work">
        <a href="/work">
          <img src="{{ base_path ~ directory }}/images/worker.png" /><br />
          Find Work
        </a>
      </div>
      <div class="col-5 push-1 home-hero--boss">
        <a href="/hire">
          <img src="{{ base_path ~ directory }}/images/boss.png" /><br />
          Find Help
        </a>
      </div>
    </div>
  </div>
</div>
