<div class="block--image-left">
  <div class="content">
    <div class="row">
      <div class="col-5-2 block--image-left_image">
        {{ content.field_image }}
      </div>
      <div class="col-5-3 block--image-left_content">
        {{ content.body }}
      </div>
    </div>
  </div>
</div>
