<div id="map-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-5-3 push-2">
        <div id="map-tabs">
          <div id="map-tabs--state">By State</div>
          <div id="map-tabs--city">By City</div>
        </div>
      </div>
    </div>
    <div class="row maps-container">
      <div class="col-5-3 push-1">
        <div id="map-states"></div>
        <div id="map-cities"></div>
      </div>
    </div>
  </div>
</div>
